/* 
font-family: 'Neucha', cursive;
*/
/* ----------------------- Variables ---------------------- */
:root {
  --mainTitleFntFmly:'Rubik Dirt', system-ui;
  --mainFntFmly: 'Neucha', cursive;
  --selectFntFamily: 'Dosis', sans-serif;
  --txtsdw: 1px 1px 2px hsl(0, 0%, 0%);
}

/* -------------------------- HTML ------------------------- */

/* -------------------------- Body ------------------------- */
body {
  /* inline-size: 80vw; */
  font-family: var(--mainFntFmly);
  background-color: hsla(0, 0%, 20%, 0.733);
  background-image: url('../../assets/img/wallPaper_10e.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* background-clip: content-box; */
}

/* ---------------------- Header ----------------------- */

.main-header {
  inline-size: 70vw;
  margin-inline: auto;
  margin-block-end: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__title {
  inline-size: 100%;
  margin-inline: auto;
  margin-block-end: 0;
  padding-inline: 0.5em;
  padding-block: 0.2em;
  box-shadow: 0 0 2px orangered;
  border-radius: 0.2em;
  background: linear-gradient(to bottom, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0.4));
  color: hsl(0, 0%, 75%);
  text-align: center;
  text-shadow: 0px 0px 2px hsl(16, 100%, 50%);
}

/* ---------------------- MainContent ---------------------- */

.mainContent {
  inline-size: 70vw;
  margin-inline: auto;
}

/* ---------------------- Footer ---------------------- */

footer {
  padding: 0.2em;
  border-radius: 0.3em;
  inline-size: 70vw;
  margin-inline: auto;
  margin-block: 3em;
  background-color: hsla(0, 0%, 0%, 0.325);
}

footer p {
  inline-size: 100%;
  color: hsl(19, 100%, 50%);
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

/* ------------------------ Tabla -------------------------- */

.tabla-jugadores {
  max-width: 100%;
  margin-inline: auto;
  box-shadow: 0 0 0.3em hsla(22, 100%, 50%, 0.428);
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 25%, 0.909);
}

.tabla-jugadores th {
  background-color: hsla(0, 0%, 0%, 0.484);
  border-radius: 0.2em;
  font-size: 1.2rem;
  font-weight: 400;
  padding-block-start: 0.3em;
  padding-inline: 0.1em;
}

.tabla-jugadores td {
  font-size: 1rem;
  border-radius: 0.2em;
  padding-block-start: 0.5em;
  padding-block-end: 0.2em;
  padding-inline: 0.1em;
  background-color: hsla(0, 0%, 41%, 0.491);
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}


.tabla-jugadores th {
  text-align: center;
}

.tabla-jugadores td:not(:nth-child(2)) {
  text-align: center;
  padding-inline-start: 0.1em;
}

.tabla-jugadores td:nth-child(2) {
  padding-inline-start: 0.1em;
}

.tabla-jugadores td:nth-child(3) {
  color: rgb(194, 194, 194);
}

.tabla-jugadores td:first-child {
  background-color: hsla(0, 0%, 69%, 0.35);
  inline-size: fit-content;
}

.tabla-jugadores td:nth-child(4) {
  color: hsl(122, 100%, 74%);
}

.tabla-jugadores td:nth-child(5) {
  color: hsl(0, 100%, 70%);
}

/* ------------------ Botones tabla --------------- */
button {
  inline-size: 100%;
  block-size: 100%;
  background: linear-gradient(0deg, hsl(0, 0%, 13%) 36%, hsl(0, 0%, 28%) 81%, hsla(0, 0%, 100%, 0.554) 100%);
  border: solid 0 hsla(0, 0%, 0%, 0.212);
  color: beige;
  cursor: pointer;
}
