/* 
font-family: 'Dosis', sans-serif;
font-family: 'Neucha', cursive;
font-family: 'Rubik Dirt', system-ui;
*/
/* ----------------------- Variables ---------------------- */
:root {
  --mainTitleFntFmly:'Rubik Dirt', system-ui;
  --mainFntFmly: 'Neucha', cursive;
  --selectFntFamily: 'Dosis', sans-serif;
}

/* -------------------------- HTML ------------------------- */

html {
  block-size: 100dvh;
}

/* -------------------------- Body ------------------------- */
body {
  font-family: var(--mainFntFmly);
  background-color: hsla(0, 0%, 20%, 0.733);
  background-image: url('../assets/img/wallPaper_02.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ---------------------- MainContent ---------------------- */

.mainContent {
  inline-size: 80vw;
  margin-inline: auto;
}

#crearPartidaBtn {
  block-size: 7vh;
  inline-size: 100%;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 0.5em;
  margin-block: 3vh;
  font-family: var(--selectFntFamily);
  font-weight: 700;
}

.partidaNueva {
  inline-size: 100%;
  background-color: hsla(0, 0%, 20%, 0.733);
  padding-block-start: 2vh;
  padding-block-end: 0.2em;
  margin-block-end: 10vh;
  margin-inline: auto;
  border-radius: 0.5em;
}

/* ----------------------- PARTIDAS --------------------------------- */
.partida__box {
  inline-size: 90%;
  block-size: 2em;
  margin-block-end: 3vh;
  margin-inline: auto;
  font-size: 1.3rem;
}

.select {
  block-size: 5vh;
  inline-size: 100%;
  border-radius: 0.5em;
  font-size: 1.4rem;
  line-height: 5vh;
  font-weight: 700;
}

/* ------------------- STATUS ---------------------------------------- */

.partida__box--status{
  block-size: 5vh;
  background-color: black;
  border-radius: 0.5em;
  margin-block-start: 0;
  line-height: 5vh;
}
.status__text {
  margin-block: 0;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}


/* ------------------- BOTONES ---------------------------------------- */
.partida__box--buttons {
  display: flex;
  justify-content: space-between;
}

.eliminar__button, .enviar__button {
  block-size: 2em;
  inline-size: 40%;
  font-weight: 800;
  line-height: 2rem;
  border-radius: 0.5em;
}

.eliminar__button {
  background: hsl(0, 100%, 50%);
  background: radial-gradient(at center, hsl(0, 100%, 50%), hsl(0, 66%, 67%));
  color: hsl(0, 0%, 100%);
}

.enviar__button {
  background: hsl(83, 100%, 50%);
  background: radial-gradient(at center, hsl(83, 100%, 50%), hsl(82, 38%, 74%));
}